name: Java CI (Spring Boot with Linter)

on:
  push:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven

      - name: Build + Tests + Linter
        run: mvn -B clean verify

      - name: Package
        run: mvn package

      - name: Upload JAR
        uses: actions/upload-artifact@latest
        with:
          name: spring-boot-jar
          path: target/*.jar
